@model RegisterationRequestDto

<form method="post">
    <div class="container border p-4">
            <div class="row text-center">
                    <h1>Register</h1>
            </div>
            <div class="row text-center">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="row">
                <div class="col-6 offset-3 pb-2">
                    <input asp-for="Email" class="form-control" placeholder="Email" >
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-6 offset-3 pb-2">
                    <input asp-for="Name" class="form-control" placeholder="Name" >
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-6 offset-3 pb-2">
                    <input asp-for="PhoneNumber" class="form-control" placeholder="phone numebt" >
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="col-6 offset-3 pb-2">
                    <input asp-for="Password" class="form-control" placeholder="password" >
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-6 offset-3 pb-2">
                    <select asp-for="Role" class="form-select" asp-items="@ViewBag.RoleList"></select>
                </div>
                <div class="col-6 offset-3 pb-2">
                    <button type="submit" class="form-control btn btn-success" value="Submit">reginster</button>
                </div>
            </div>
    </div>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}